@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) { 
  :root {
    --background: rgb(21, 31, 46);
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background); /* Alterado de 'background' para 'background-color' */

  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


